<h1 class='header'>AutoManager</h1>


<div class='catimg'>
	<%= image_tag('cat.gif') %>
</div>

<div class='catimg'>
	<%= image_tag('cat.gif') %>
	<div class='text'>
		<p>IM SO COOL.      CAAATS</p>
	</div>

</div>